In [0]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, lit
spark = SparkSession.builder.appName("Spark DataFrames").getOrCreate()
# COMMAND ----------
df = spark.read.options(header='True', inferSchema='True').csv('/FileStore/tables/StudentData.csv')
df.show()
# COMMAND ----------
df = df.withColumn("roll", col("roll").cast("String"))
# COMMAND ----------
df.printSchema()
# COMMAND ----------
df = df.withColumn("marks", col('marks') + 10)
df.show()
# COMMAND ----------
df = df.withColumn("aggregated marks", col('marks') - 10)
df.show()
# COMMAND ----------
df = df.withColumn("name", lit("USA"))

df.show()
# COMMAND ----------
#df.show()
# COMMAND ----------
df = df.withColumn("marks", col("marks") - 10).withColumn("updated marks", col("marks") + 20).withColumn("Country", lit("USA"))
# COMMAND ----------
df.show()

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

root
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- name: string (nullable = true)
 |-- course: string (nullable = true)
 |-- roll: string (nullable = true)
 |-- marks: integer (nullable = true)
 |-- email: string (nullable = true)

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB|  2984|   69|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   72|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF| 21267|   55|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB| 32877|   39|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   51|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC| 52771|   42|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP| 61973|   79|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud| 72409|   95|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   74|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   61|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|102285|   45|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   63|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   37|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|132110|   65|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|141770|   52|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   37|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|161771|   46|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|171660|   32|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|182129|   66|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|    DB|192537|   72|Ernest Rossbach_M...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

+---+------+----------------+------+------+-----+--------------------+----------------+
|age|gender|            name|course|  roll|marks|               email|aggregated marks|
+---+------+----------------+------+------+-----+--------------------+----------------+
| 28|Female| Hubert Oliveras|    DB|  2984|   69|Annika Hoffman_Na...|              59|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   72|Margene Moores_Ma...|              62|
| 28|  Male|  Celeste Lollis|    PF| 21267|   55|Jeannetta Golden_...|              45|
| 29|Female|    Elenore Choy|    DB| 32877|   39|Billi Clore_Mitzi...|              29|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   51|Claude Panos_Judi...|              41|
| 28|  Male|  Margene Moores|   MVC| 52771|   42|Toshiko Hillyard_...|              32|
| 28|  Male|     Neda Briski|   OOP| 61973|   79|Alberta Freund_El...|              69|
| 28|Female|    Claude Panos| Cloud| 72409|   95|Sheryll Towler_Al...|              85|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   74|Nicole Harwood_Cl...|              64|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   61|Judie Chipps_Clem...|              51|
| 29|Female|       Kena Wild|   DSA|102285|   45|Dustin Feagins_Ma...|              35|
| 29|  Male| Ernest Rossbach|    DB|111449|   63|Maybell Duguay_Ab...|              53|
| 28|Female|  Latia Vanhoose|    DB|122502|   37|Latia Vanhoose_Mi...|              27|
| 29|Female|  Latia Vanhoose|   MVC|132110|   65|Eda Neathery_Nico...|              55|
| 29|  Male|     Neda Briski|    PF|141770|   52|Margene Moores_Mi...|              42|
| 29|Female|  Latia Vanhoose|    DB|152159|   37|Claude Panos_Sant...|              27|
| 29|  Male|  Loris Crossett|   MVC|161771|   46|Mitzi Seldon_Jenn...|              36|
| 29|  Male|  Annika Hoffman|   OOP|171660|   32|Taryn Brownlee_Mi...|              22|
| 29|  Male|   Santa Kerfien|    PF|182129|   66|Judie Chipps_Tary...|              56|
| 28|Female|Mickey Cortright|    DB|192537|   72|Ernest Rossbach_M...|              62|
+---+------+----------------+------+------+-----+--------------------+----------------+
only showing top 20 rows

+---+------+----+------+------+-----+--------------------+----------------+
|age|gender|name|course|  roll|marks|               email|aggregated marks|
+---+------+----+------+------+-----+--------------------+----------------+
| 28|Female| USA|    DB|  2984|   69|Annika Hoffman_Na...|              59|
| 29|Female| USA| Cloud| 12899|   72|Margene Moores_Ma...|              62|
| 28|  Male| USA|    PF| 21267|   55|Jeannetta Golden_...|              45|
| 29|Female| USA|    DB| 32877|   39|Billi Clore_Mitzi...|              29|
| 28|  Male| USA|   DSA| 41487|   51|Claude Panos_Judi...|              41|
| 28|  Male| USA|   MVC| 52771|   42|Toshiko Hillyard_...|              32|
| 28|  Male| USA|   OOP| 61973|   79|Alberta Freund_El...|              69|
| 28|Female| USA| Cloud| 72409|   95|Sheryll Towler_Al...|              85|
| 28|  Male| USA|   MVC| 81492|   74|Nicole Harwood_Cl...|              64|
| 29|  Male| USA|   OOP| 92882|   61|Judie Chipps_Clem...|              51|
| 29|Female| USA|   DSA|102285|   45|Dustin Feagins_Ma...|              35|
| 29|  Male| USA|    DB|111449|   63|Maybell Duguay_Ab...|              53|
| 28|Female| USA|    DB|122502|   37|Latia Vanhoose_Mi...|              27|
| 29|Female| USA|   MVC|132110|   65|Eda Neathery_Nico...|              55|
| 29|  Male| USA|    PF|141770|   52|Margene Moores_Mi...|              42|
| 29|Female| USA|    DB|152159|   37|Claude Panos_Sant...|              27|
| 29|  Male| USA|   MVC|161771|   46|Mitzi Seldon_Jenn...|              36|
| 29|  Male| USA|   OOP|171660|   32|Taryn Brownlee_Mi...|              22|
| 29|  Male| USA|    PF|182129|   66|Judie Chipps_Tary...|              56|
| 28|Female| USA|    DB|192537|   72|Ernest Rossbach_M...|              62|
+---+------+----+------+------+-----+--------------------+----------------+
only showing top 20 rows

+---+------+----+------+------+-----+--------------------+----------------+-------------+-------+
|age|gender|name|course|  roll|marks|               email|aggregated marks|updated marks|Country|
+---+------+----+------+------+-----+--------------------+----------------+-------------+-------+
| 28|Female| USA|    DB|  2984|   59|Annika Hoffman_Na...|              59|           79|    USA|
| 29|Female| USA| Cloud| 12899|   62|Margene Moores_Ma...|              62|           82|    USA|
| 28|  Male| USA|    PF| 21267|   45|Jeannetta Golden_...|              45|           65|    USA|
| 29|Female| USA|    DB| 32877|   29|Billi Clore_Mitzi...|              29|           49|    USA|
| 28|  Male| USA|   DSA| 41487|   41|Claude Panos_Judi...|              41|           61|    USA|
| 28|  Male| USA|   MVC| 52771|   32|Toshiko Hillyard_...|              32|           52|    USA|
| 28|  Male| USA|   OOP| 61973|   69|Alberta Freund_El...|              69|           89|    USA|
| 28|Female| USA| Cloud| 72409|   85|Sheryll Towler_Al...|              85|          105|    USA|
| 28|  Male| USA|   MVC| 81492|   64|Nicole Harwood_Cl...|              64|           84|    USA|
| 29|  Male| USA|   OOP| 92882|   51|Judie Chipps_Clem...|              51|           71|    USA|
| 29|Female| USA|   DSA|102285|   35|Dustin Feagins_Ma...|              35|           55|    USA|
| 29|  Male| USA|    DB|111449|   53|Maybell Duguay_Ab...|              53|           73|    USA|
| 28|Female| USA|    DB|122502|   27|Latia Vanhoose_Mi...|              27|           47|    USA|
| 29|Female| USA|   MVC|132110|   55|Eda Neathery_Nico...|              55|           75|    USA|
| 29|  Male| USA|    PF|141770|   42|Margene Moores_Mi...|              42|           62|    USA|
| 29|Female| USA|    DB|152159|   27|Claude Panos_Sant...|              27|           47|    USA|
| 29|  Male| USA|   MVC|161771|   36|Mitzi Seldon_Jenn...|              36|           56|    USA|
| 29|  Male| USA|   OOP|171660|   22|Taryn Brownlee_Mi...|              22|           42|    USA|
| 29|  Male| USA|    PF|182129|   56|Judie Chipps_Tary...|              56|           76|    USA|
| 28|Female| USA|    DB|192537|   62|Ernest Rossbach_M...|              62|           82|    USA|
+---+------+----+------+------+-----+--------------------+----------------+-------------+-------+
only showing top 20 rows